<!DOCTYPE html>
<html>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/usersController.js"></script>
<body>
<form method = 'post', action ='/register'>
    Full Name <input type="text", name = "fullname"/>
    Username <input type="text", name = "username"/>
    Password <input type="password", name = "password"/>
    Consfirm Password <input type="password", name = "confirmPassword"/>
    <input type="submit" name ="submit"></form>

<!--<div ng-app="myApp" ng-controller="myCtrl">-->

    <!--First Name: <input type="text" ng-model="firstName"><br>-->
    <!--Last Name: <input type="text" ng-model="lastName"><br>-->
    <!--<br>-->
    <!--Full Name: {{firstName + " " + lastName}}-->
<!--</div>-->
</body>
</html>