<!DOCTYPE html>
<html>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/usersController.js"></script>
<body ng-app="myApp" ng-controller="regiterDependentsCtrl">
<form ng-register="register()">
    <h1> Register Dependents</h1>
    Full Name <input type="text", name = "fullname"/>
    Username <input type="text", name = "username"/>
    Password <input type="password", name = "password"/>
    Consfirm Password <input type="password", name = "confirmPassword"/>
    <input type="submit" name ="submit"></form>

</body>
</html>